* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #fff;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h1 span {
  font-size: 2.5rem;
}
h2 {
  /* font-family: "VT323", monospace; */
  display: inline-block;
  color: white;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-bottom: rgb(0, 255, 0) dashed 3px;
  border-top: rgb(0, 255, 0) dashed 3px;
}

table,
td {
  margin: auto;
  border: 5px solid rgb(0, 255, 0);
  padding: 0.1rem;
  border-radius: 10px;
}

.board td {
  width: 50px;
  height: 50px;
  transition: 0.5s;
  text-align: center;
  border: 7px solid #333;
  border-radius: 10px;
  color: black;
}

.cell {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.floor {
  background-color: rgb(132, 1, 255);
}

.revealed {
  background-color: rgb(0, 255, 255);
}

.mine {
  background-color: red;
}

.hidden {
  display: none;
}

footer {
  border: 5px solid rgb(0, 255, 0);
  position: absolute;
  bottom: 0;
  padding: 2rem;
  width: 99%;
  background-color: #333;
  color: #fff;
}

.loseModal {
  width: 80px;
  height: 50px;
  margin: auto;
}

.resetBtn button {
  background-color: aqua;
  width: 55px;
  height: 30px;
  border-radius: 32px;
  cursor: pointer;
}
